#find out all the types of error that we have encountered in our lacture and why? also include example.

*1.) for case sensitivity:*    

*name error*

In [2]:
name= aman
Name= Aman
print("NAME")

NameError: ignored

*2.) if we make reserve words as veriable it will show us an error*


*2.1) it will only concatinate string to string*

*type error*

In [3]:
"day"+1

TypeError: ignored

*3) syntex error*

*it occurs when code is written in incorrect format*

In [4]:
print("hello world"

SyntaxError: ignored

*4.) indentation error*

*it occured when we forgot to provide space in a sequencial manner( it means statement is not allign properly*

In [5]:
raining = False
if raining:
print("let's do work from home")
else:
  print("let's go to office")

IndentationError: ignored

*5.)  value error*


*we should be carefull while putting data type as well as data type variable*

In [9]:
A= int(input("enter the value of A: "))
B= float(input("enter the value of B: "))
print(f"enter the sum of {A+B}")

enter the value of A: 10.2

ValueError: ignored

#Take input A and B and print their sum , multiplication, division, squares of the numbers

In [14]:
A=int(input("enter the value of A: "))
B=int(input("enter the value of B: "))
print(f"multiplication of A and B is {A*B}: ")

enter the value of A: 4
enter the value of B: 5
multiplication of A and B is 20:

In [15]:
A=int(input("enter the value of A: "))
B=int(input("enter the value of B: "))
print(f"addition of A and B is {A+B}: ")

enter the value of A: 5
enter the value of B: 6
addition of A and B is 11:

In [16]:
A=int(input("enter the value of A: "))
B=int(input("enter the value of B: "))
print(f"division of A and B is {A/B}: ")

enter the value of A: 4
enter the value of B: 2
division of A and B is 2.0:

In [17]:
A=int(input("enter the value of A: "))
B=int(input("enter the value of B: "))
print(f"square of A is {A**2} and B is{B**2}: ")

enter the value of A: 4
enter the value of B: 5
square of A is 16 and B is25:

# How many reserve keywords are there and why we should not use them as a variable name

*the following reserve keywords are as follows:* 

*for | if |   def | raise |  none | del | import | return*



*true | elif  | int | try*



*end | else |is | while*



*as | except lamda | with*



*assert | finally | nonlocal | yield*



*break | for  | not*



*class | from  | or*



*continue | global | pass*

#create email ids with the user input in the following format lastname.frontname@gmail.com

In [19]:
fname=str(input("what's your first name: "))
lname=str(input("what's  your last name: "))
print(f"my email id is:{lname}.{fname}@gmail.com")

what's your first name: pawan
what's  your last name: sharma
my email id is:sharma.pawan@gmail.com

# try to print the followin lines: 

*hi i'm Aman*


*my address is 22/ 36*


*i earn 20 dollars daily*

In [29]:
name=str(input("what's your name: "))
address=str(input("what's your address: "))
earning=str(input("what's your earning: "))
print(f""" hi i'm {name},
 my address is {address},
 i earn {earning} $ daily""")

what's your name: pawan
what's your address: 22/36
what's your earning: 20
 hi i'm pawan,
 my address is 22/36,
 i earn 20 $ daily

# Take user input to fill a form for your college and print their email ids

In [34]:
name=str(input("what's your name: "))
address=str(input("what's your address: "))
dob=str(input("what's your dob: "))
email="@gmail.com"
print(f""" hi i'm {name},
 my address is {address},
 my dob is {dob},
 my email id is {name}.{email}""")

what's your name: pawan
what's your address: 22/36
what's your dob: 4/apr/1996
 hi i'm pawan,
 my address is 22/36,
 my dob is 4/apr/1996,
 my email id is pawan.@gmail.com